# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*

# IDE
.idea/
.vscode/
*.swp
*.swo

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# typescript
*.tsbuildinfo

# API keys and secrets
src/config/keys.js
src/services/api/constants.js
src/services/apiService.js

# Local environment files
*.env
.env*
